bam
bam-0.4.0
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
.vscode
src/.vscode
SDL.dll
freetype.dll
autoexec.cfg
autoexec_server.log

crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
versionsrv*

stats.txt
tw+*
